<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('Invalid')" [class.active]="dashboardStatus == 'Invalid'">Invalid SSN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('Temporary')" [class.active]="dashboardStatus == 'Temporary'">Temporary SSN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('Resolved')" [class.active]="dashboardStatus == 'Resolved'">Resolved SSN</a>
  </li>
</ul>
<br>
<table width='100%' class="table table-striped" matSort (matSortChange)="sortData.emit($event)">
  <tbody>
    <tr>
      <th mat-sort-header="created_date">Created Date</th>
      <th>Employee ID</th>
      <th mat-sort-header="first_name">First Name</th>
      <th mat-sort-header="last_name">Last Name</th>
      <th>Status</th>
      <th mat-sort-header="department">Department</th>
      <th>Last User</th>
      <th mat-sort-header="hire_date">Hire Date</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let request of requests | async | slice:(pageSize*pageIndex):(pageSize*pageIndex+pageSize)">
      <td>{{ request.created_date | date:'mediumDate' }}</td>
      <td>{{ request.employee_id }}</td>
      <td>{{ request.first_name }}</td>
      <td>{{ request.last_name }}</td>
      <td><strong>{{ request.status }}</strong></td>
      <td>{{ request.department }}</td>
      <td>{{ request.last_user }}</td>
      <td>{{ request.hire_date | date:'mediumDate'}}</td>
      <td>
        <button *ngIf="request.status === 'Temporary' || request.status === 'Resolved'" class="btn btn-danger"(click)="requestInvalid.emit(request)">Invalid</button>
        <button *ngIf="request.status === 'Invalid' || request.status === 'Resolved'" class="btn btn-info" (click)="requestTemp.emit(request)">Temporary</button>
        <button *ngIf="request.status === 'Invalid' || request.status === 'Temporary'" class="btn btn-success"(click)="requestResolved.emit(request)">Resolve</button>
        <!--add red mat badge if note is not empty, use &#8288 to show badge without number-->
        <button mat-raised-button (click)="editNote.emit(request)" matBadge="&#8288;" matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="request.note == ''">Note</button>
      </td>
    </tr>
  </tbody>
</table>

<!--display load spinner if loading-->
<img *ngIf="(requests | async) == null" src="assets/image/loading.gif" class="loading" />