/* Import material theme css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
    }
}
/* Snackbar css */
.grant .mat-simple-snackbar, .approve .mat-simple-snackbar {
    color: green;
}
.decline .mat-simple-snackbar {
    color: red;
}
.mat-snack-bar-container {
    background: #fdfdfd;
}

/* Footer logo */
img.logo {
    max-width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

// material overlay select list
.cdk-overlay-container {
    div.mat-select-panel {
        max-height: 350px;
    }
}